.baner{
    background-size:cover;
    height: 448px;
    color:white;
}
.content{
    padding-top: 140px;
    height: 190px;
    padding-left:15px;

}
.title{
    font-size:3rem;
    font-weight:800;
    padding-top:0.3rem;
}
.buttons{
    color:white;
    outline:none;
    border:none;
    font-weight:700;
    border-radius:5px;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    cursor: pointer;
    background-color:rgba(51,51,51,.5);
    margin-right: 1rem;
}
.buttons:hover{
    background-color: #e6e6e6;
    color:black;
}
.discription{
    width:45rem;
    line-height:1.3;
    padding-top:1rem;
    font-size:0.9rem;
    height:80px;
    max-width:360px;
}
.fade-bottom{
    height:7.4rem;
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}